name: Node CI

on:
  pull_request:
    branches:
      - master

jobs:
  job-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: npm install, build, and test
        run: |
          npm ci
          npm test
          npm run test:e2e
        env:
          CI: true
      - name: Danger JS
        uses: danger/danger-js@9
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: coverage
        if: success()
        run: npm run test:coveralls
        env:
          CI: true
